header {
    position: fixed;
    background-color: rgba(89, 149, 92, 0.8);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    height: 80px;
  }
  
  .header img {
    height: 60px;
  }